.categorys {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 15px;
}

.categorys li {
    color: var(--category-color);
    font-size: 18px;
    font-weight: 700;
    padding: 8px 15px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

.activeCategory {
    color: var(--primary-color)!important;
}

.categorys li:hover {
    opacity: .6;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    grid-gap: 40px;
    margin-top: 60px;
}