* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

:root {
  --primary-color: #FFD838;
  --secondary-color: #161618;
  --text-color: #949BA0;
  --category-color: #E8E8E8;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  font-family: var(--font-primary);
  height: 200vh;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  color: var(--text-color);
  font-weight: 400;
}
.opacityHover {
  transition: .3s;
}

.opacityHover:hover {
  opacity: .6;
}


@media(max-width:1000px) {
  .container {
    padding: 0 15px;
  }
}


.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center
}

.justify-content-end {
  justify-content: end
}

.basis-50 {
  flex-basis: 50%;
}

.margin-top {
  margin-top: 138px;
  padding-top: 40px;
}