.main {
    height: 100vh;
}

.main section, .main > div {
    height: 100%;
}

.backgroundImage {
    position: relative;
    flex-basis: 40%;
}

.flex {
  display: flex;   
}
.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 100px;
}

.form {
    width: 400px;
    max-width: 100%;
}

@media(max-width:600px) {
    .loginSection {
        padding: 40px;
    }

    .flex {
        flex-direction: column;
    }
}